<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>product</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="detail" th:object="${flower}">
    <div class="product">
        <div>
            <img th:src="*{pictureUrl}">
            <div class="title" th:text="*{name}|"></div>
            <form method="post">
                <button class="btn" th:text="|*{price}₴|">To cart</button>
            </form>
            <div class="store" th:style="*{count > 0} ? 'color: #2acd12' : 'color: #ff4235'"
                 th:text="*{count > 0} ? 'In stock':'Not in stock'"></div>
        </div>
        <div class="product-info">
            <div class="title" th:text="*{name}"></div>
            <p class="text" th:text="|*{length} sm|"></p>
            <p class="text" th:text="*{description}"></p>
        </div>
    </div>
</div>
</body>
</html>